# docker compose build file
# for: Colly
# created in: 2024 by: @jarne

services:
    mongo:
        image: mongo:8.2
        volumes:
            - mongo-data:/data/db
        restart: always
    minio:
        image: minio/minio:RELEASE.2025-09-07T16-13-09Z
        entrypoint: sh
        command: -c "mkdir -p /data/colly && /usr/bin/minio server /data"
        environment:
            MINIO_ROOT_USER: ${MINIO_ROOT_USER}
            MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
        volumes:
            - minio-data:/data
        ports:
            - "9000:9000"
        restart: always
    colly:
        image: ghcr.io/jarne/colly:latest
        depends_on:
            - mongo
            - minio
        environment:
            NODE_ENV: production
            MONGO_HOST: mongo
            MONGO_DB: colly
            JWT_SECRET: ${JWT_SECRET}
            INITIAL_ADMIN_USERNAME: ${INITIAL_ADMIN_USERNAME}
            INITIAL_ADMIN_PASSWORD: ${INITIAL_ADMIN_PASSWORD}
            S3_ENDPOINT: http://172.17.0.1:9000
            S3_REGION: us-east-1
            S3_ACCESS_KEY: ${MINIO_ROOT_USER}
            S3_ACCESS_SECRET: ${MINIO_ROOT_PASSWORD}
            S3_BUCKET: colly
            S3_FORCE_PATH_STYLE: "true"
        ports:
            - "3000:3000"
        restart: always

volumes:
    mongo-data:
    minio-data:
