version: 2.1

orbs:
    docker: circleci/docker@3.0.1

jobs:
    mocha:
        docker:
            - image: cimg/node:24.12.0
              environment:
                  MONGO_HOST: 127.0.0.1
                  MONGO_DB: colly-test
                  JWT_SECRET: super-secret-123
                  S3_ENDPOINT: http://127.0.0.1:9000
                  S3_REGION: us-east-1
                  S3_ACCESS_KEY: super-root
                  S3_ACCESS_SECRET: super-secret-123
                  S3_BUCKET: colly-test
                  S3_FORCE_PATH_STYLE: "true"
            - image: mongo:8.2
            - image: rustfs/rustfs:1.0.0-alpha.76
              entrypoint: sh
              command: -c "mkdir -p /data/colly && rustfs"
              environment:
                  RUSTFS_ACCESS_KEY: super-root
                  RUSTFS_SECRET_KEY: super-secret-123
        steps:
            # Checkout branch
            - checkout

            # Install Yarn dependencies
            - restore_cache:
                  key: yarn-{{ checksum "yarn.lock" }}
            - run: yarn install
            - save_cache:
                  key: yarn-{{ checksum "yarn.lock" }}
                  paths:
                      - node_modules

            # Run tests with Mocha
            - run: yarn test:ci

            # Collect test coverage with c8
            - run: yarn test:coverage

            # Save test results
            - store_test_results:
                  path: test-results

            # Save coverage report
            - store_artifacts:
                  path: coverage
    eslint:
        docker:
            - image: cimg/node:24.12.0
        steps:
            # Checkout branch
            - checkout

            # Install Yarn dependencies
            - restore_cache:
                  key: yarn-{{ checksum "yarn.lock" }}
            - run: yarn install
            - save_cache:
                  key: yarn-{{ checksum "yarn.lock" }}
                  paths:
                      - node_modules

            # Run ESLint
            - run: yarn lint:ci

            # Save lint results
            - store_test_results:
                  path: lint-results
    eslint-client:
        docker:
            - image: cimg/node:24.12.0
        working_directory: ~/project/client
        steps:
            # Checkout branch
            - checkout:
                  path: ~/project

            # Install client Yarn dependencies
            - restore_cache:
                  key: yarn-client-{{ checksum "yarn.lock" }}
            - run: yarn install
            - save_cache:
                  key: yarn-client-{{ checksum "yarn.lock" }}
                  paths:
                      - node_modules

            # Run ESLint
            - run: yarn lint:ci

            # Save lint results
            - store_test_results:
                  path: lint-results

workflows:
    tests:
        jobs:
            - mocha
            - eslint
    tests-client:
        jobs:
            - eslint-client
    docker-publish:
        jobs:
            - docker/publish:
                  filters:
                      tags:
                          only: /.*/
                      branches:
                          ignore: /.*/
                  registry: ghcr.io
                  image: $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME
                  tag: "$CIRCLE_TAG,latest"
