/**
 * Colly | item card styles
 */

.card {
    border: none !important;
    border-radius: 12px !important;

    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
}

@media (prefers-color-scheme: dark) {
    .card {
        box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.15);
    }
}

.card-img-top {
    height: 150px;
    width: auto;

    object-fit: cover;

    border-top-right-radius: 12px !important;
    border-top-left-radius: 12px !important;
}

.card-logo-img {
    width: 24px;
    height: 24px;

    object-fit: contain;
}

.card-edit {
    float: right;
}

.card-url {
    color: #6a6a6a;
}

.card-description {
    font-size: 0.935rem;
}

.pin-icon {
    position: absolute;
    top: 6px;
    right: 6px;
}
